.photos-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 150px 40px;
}

.page-top {
  position: absolute;
  top: 20px;

  h2 {
    margin-bottom: 10px;
  }

  button {
    border: none;
    background-color: #49445f;
    color: #fff;
    font-size: 20px;
    padding: 6px 15px;
    border-radius: 8px;

    &:hover {
      cursor: pointer;
      background-color: #312d40;
      transition: background-color .1s ease-in-out;
    }
  }
}

.photos {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}

.photo-block {
  width: 200px;
  margin-right: 20px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.75);

  &:hover {
    -webkit-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px -4px rgba(0,0,0,0.75);
    transition: box-shadow .1s ease-in-out;
  }

  button {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: none;
    cursor: pointer;
  }

  img {
    width: 200px;
    height: 200px;
  }

  &__title {
    padding: 5px;
    font-size: 0.8rem;
    line-height: 16px;
    color: #444444;
  }
}